body{
    background-color: rgb(8, 16, 31);
}
.mainImg{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.mainText{
    font-size: 400%;
    text-align: center;
    padding-top: 170px;
    color: aliceblue;
    letter-spacing: 20px;
    text-shadow:
    0 0 100px #0fa,
    0 0 10px #0fa;
}
.signUpButton{
    width: 150px;
    height: 70px;
    margin: 90px;
    margin-left: 8px;
    margin-right: 8px;
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0.6);
  }

.RoleButton{
    width: 500px;
    height: 300px;
    margin: 150px;
    margin-left: 30px;
    margin-right: 30px;
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0.6);
}
.signUpButton:hover{
    border-width: 2px;
    background-color: rgba(106, 106, 106, 0.9);
    color: white;
}
.RoleButton:hover{
    border-width: 2px;
    background-color: rgba(106, 106, 106, 0.9);
    color: white;
}
.baseText{
    color:white;
}
.signUpText{
    font-size: 150%;
}
.infoText{
    font-size: 150%;
    color: white;
}
.mainFrame{
    background-color: rgba(72, 89, 92, 0.5);
    color: white;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 25px;
    text-align: justify;
}
  .test{
    color: rgb(24, 51, 101);
    display: flex;
    align-items: center;
  }
  .quizBody{
    display: flex;
    align-items: center;  
    justify-content: center;    
    min-height: 100vh;
    width: 100%;
    margin-top:30px;
  }
  
  .containerQuiz {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    width: 1200px;
    background-color: white;
    background-color: transparent;
    border-style: solid;
    border-color: rgb(179, 83, 179);
    overflow: hidden;
    padding: 30px;
    position: relative;
  }
  .question{
    margin:8px;
    border-radius: 5px;
    padding:5px;
    color: white;
    font-size: large;
    font-weight: 600;
    min-width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #question-number{
    margin-right: 5px;
  }
  .option-container{
    display: flex;
    flex-direction: column;
    margin:6px 4px;    
    width: 100%;
    padding: 10px;
  }
 
  .option-btn{
    padding: 5px;
    border-radius: 3px;
    border: solid 2px;
    outline: none;
    margin: 5px;
    min-height: 30px;
    background-color: white;
  }
  
  .checked{
    background-color: rgb(69, 64, 128);
    color:white;
  }
  .option-btn-hover:hover{
    background-color: rgb(148, 144, 193);
    color:white;
  }
  #next-button{
    padding:10px;
    border:none;
    background-color: purple;
    background-color: #276272;
    color:white;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
    width:100px;
    bottom: 15px;
  }
  #next-button:active{
    box-shadow:none;    
  }
  .show-score{
    color: white;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;  
  }
  .questionsTiles{
     
    list-style:none;
     margin:10px;
     padding:10px;
    border-radius:15px;
    font-size:25px;
    padding-left:19px;
    padding-right:19px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .attempted{
    background-color:rgb(69, 64, 128);
  }
  .current{
    background-color:purple;
  }
  .notAttempted{
    background-color:rgb(101, 24, 24);
  }
  .marked{
    background-color:rgb(24, 101, 33);
  }
  